<a href="https://colab.research.google.com/github/BiancaBenelli/Pokemon_project/blob/main/Pokemon_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

Dataset from https://www.kaggle.com/datasets/mariotormo/complete-pokemon-dataset-updated-090420

In [ ]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [ ]:
pokemon_df = pd.read_csv('/content/pokemon.csv')

Pokedex Data:

- pokedex_number: The entry number of the Pokemon in the National Pokedex
- name: The English name of the Pokemon
- german_name: The German name of the Pokemon
- japanese_name: The Original Japanese name of the Pokemon
- generation: The numbered generation which the Pokemon was first introduced
- status: Denotes if the Pokemon is normal, sub-legendary, legendary or mythical
- species: The Categorie of the Pokemon
- type_number: Number of types that the Pokemon has
- type_1: The Primary Type of the Pokemon
- type_2: The Secondary Type of the Pokemon if it has it
- height_m: Height of the Pokemon in meters
- weight_kg: The Weight of the Pokemon in kilograms
- ability_1: The Primary Ability of the Pokemon
- ability_2: The Secondary Ability of the Pokemon if it has it
- ability_hidden: Name of the hidden ability of the Pokemon if it has one

Base stats:
- total_points: Total number of Base Points
- hp: The Base HP of the Pokemon
- attack: The Base Attack of the Pokemon
- defense: The Base Defense of the Pokemon
- sp_attack: The Base Special Attack of the Pokemon
- sp_defense: The Base Special Defense of the Pokemon
- speed: The Base Speed of the Pokemon

Training:
- catch_rate: Catch Rate of the Pokemon
- base_friendship: The Base Friendship of the Pokemon
- base_experience: The Base experience of a wild Pokemon when caught
- growth_rate: The Growth Rate of the Pokemon

Breeding:
- egg_type_number: Number of groups where a Pokemon can hatch
- egg_type_?: Names of the egg groups where a Pokemon can hatch
- percentage_male: The percentage of the species that are male. Blank if the - - Pokemon is genderless.
- egg_cycles: The number of cycles (255-257 steps) required to hatch an egg of the Pokemon

Type defenses:
- against_?: Eighteen features that denote the amount of damage taken against an attack of a particular type

# Dataset Exploration

In [ ]:
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   german_name       1045 non-null   object
 4   japanese_name     1045 non-null   object
 5   generation        1045 non-null   int64
 6   status            1045 non-null   object
 7   species           1045 non-null   object
 8   type_number       1045 non-null   int64
 9   type_1            1045 non-null   object
 10  type_2            553 non-null    object
 11  height_m          1045 non-null   float64
 12  weight_kg         1044 non-null   float64
 13  abilities_number  1045 non-null   int64
 14  ability_1         1042 non-null   object
 15  ability_2         516 non-null    object
 16  ability_hidden    813 non-null    object
 17  total_points      1045 non-null   int64
 18  hp                1045 non-null   int64
 19  attack            1045 non-null   int64
 20  defense           1045 non-null   int64
 21  sp_attack         1045 non-null   int64
 22  sp_defense        1045 non-null   int64
 23  speed             1045 non-null   int64
 24  catch_rate        1027 non-null   float64
 25  base_friendship   930 non-null    float64
 26  base_experience   925 non-null    float64
 27  growth_rate       1044 non-null   object
 28  egg_type_number   1045 non-null   int64
 29  egg_type_1        1042 non-null   object
 30  egg_type_2        285 non-null    object
 31  percentage_male   872 non-null    float64
 32  egg_cycles        1044 non-null   float64
 33  against_normal    1045 non-null   float64
 34  against_fire      1045 non-null   float64
 35  against_water     1045 non-null   float64
 36  against_electric  1045 non-null   float64
 37  against_grass     1045 non-null   float64
 38  against_ice       1045 non-null   float64
 39  against_fight     1045 non-null   float64
 40  against_poison    1045 non-null   float64
 41  against_ground    1045 non-null   float64
 42  against_flying    1045 non-null   float64
 43  against_psychic   1045 non-null   float64
 44  against_bug       1045 non-null   float64
 45  against_rock      1045 non-null   float64
 46  against_ghost     1045 non-null   float64
 47  against_dragon    1045 non-null   float64
 48  against_dark      1045 non-null   float64
 49  against_steel     1045 non-null   float64
 50  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(13), object(13)
memory usage: 416.5+ KB

In [ ]:
pokemon_df.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [ ]:
pokemon_df.tail()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1040,1040,896,Glastrier,Polaross,ブリザポス (Burizaposu),8,Sub Legendary,Wild Horse Pokémon,1,Ice,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1041,1041,897,Spectrier,Phantoross,レイスポス (Reisuposu),8,Sub Legendary,Swift Horse Pokémon,1,Ghost,...,1.0,1.0,1.0,0.5,1.0,2.0,1.0,2.0,1.0,1.0
1042,1042,898,Calyrex,Coronospa,バドレックス (Budrex),8,Legendary,King Pokémon,2,Psychic,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
1043,1043,898,Calyrex Ice Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,...,1.0,1.0,0.5,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1044,1044,898,Calyrex Shadow Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,...,1.0,1.0,0.5,1.0,1.0,4.0,1.0,4.0,1.0,1.0

In [ ]:
pokemon_df.describe()

,Unnamed: 0,pokedex_number,generation,type_number,height_m,weight_kg,abilities_number,total_points,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1044.000000,1045.000000,1045.000000,1045.000000,1045.000000,...,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,522.000000,440.769378,4.098565,1.529187,1.374067,71.216571,2.268900,439.353110,70.067943,80.476555,...,1.082297,1.168900,0.977273,0.998086,1.238278,1.018660,0.977033,1.071053,0.981579,1.091148
std,301.809819,262.517231,2.272788,0.499386,3.353349,132.259911,0.803154,121.992897,26.671411,32.432728,...,0.782683,0.592145,0.501934,0.610411,0.696560,0.568056,0.375812,0.465178,0.501753,0.536285
min,0.000000,1.000000,1.000000,1.000000,0.100000,0.100000,0.000000,175.000000,1.000000,5.000000,...,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000
25%,261.000000,212.000000,2.000000,1.000000,0.600000,9.000000,2.000000,330.000000,50.000000,55.000000,...,0.500000,1.000000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000
50%,522.000000,436.000000,4.000000,2.000000,1.000000,29.500000,2.000000,458.000000,68.000000,77.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,783.000000,670.000000,6.000000,2.000000,1.600000,70.500000,3.000000,515.000000,82.000000,100.000000,...,1.500000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1044.000000,898.000000,8.000000,2.000000,100.000000,999.900000,3.000000,1125.000000,255.000000,190.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000

## Clean up the dataset

In [ ]:
# Rename the unnamed column
pokemon_df.rename(columns={'Unnamed: 0':'index'}, inplace=True)
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   german_name       1045 non-null   object
 4   japanese_name     1045 non-null   object
 5   generation        1045 non-null   int64
 6   status            1045 non-null   object
 7   species           1045 non-null   object
 8   type_number       1045 non-null   int64
 9   type_1            1045 non-null   object
 10  type_2            553 non-null    object
 11  height_m          1045 non-null   float64
 12  weight_kg         1044 non-null   float64
 13  abilities_number  1045 non-null   int64
 14  ability_1         1042 non-null   object
 15  ability_2         516 non-null    object
 16  ability_hidden    813 non-null    object
 17  total_points      1045 non-null   int64
 18  hp                1045 non-null   int64
 19  attack            1045 non-null   int64
 20  defense           1045 non-null   int64
 21  sp_attack         1045 non-null   int64
 22  sp_defense        1045 non-null   int64
 23  speed             1045 non-null   int64
 24  catch_rate        1027 non-null   float64
 25  base_friendship   930 non-null    float64
 26  base_experience   925 non-null    float64
 27  growth_rate       1044 non-null   object
 28  egg_type_number   1045 non-null   int64
 29  egg_type_1        1042 non-null   object
 30  egg_type_2        285 non-null    object
 31  percentage_male   872 non-null    float64
 32  egg_cycles        1044 non-null   float64
 33  against_normal    1045 non-null   float64
 34  against_fire      1045 non-null   float64
 35  against_water     1045 non-null   float64
 36  against_electric  1045 non-null   float64
 37  against_grass     1045 non-null   float64
 38  against_ice       1045 non-null   float64
 39  against_fight     1045 non-null   float64
 40  against_poison    1045 non-null   float64
 41  against_ground    1045 non-null   float64
 42  against_flying    1045 non-null   float64
 43  against_psychic   1045 non-null   float64
 44  against_bug       1045 non-null   float64
 45  against_rock      1045 non-null   float64
 46  against_ghost     1045 non-null   float64
 47  against_dragon    1045 non-null   float64
 48  against_dark      1045 non-null   float64
 49  against_steel     1045 non-null   float64
 50  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(13), object(13)
memory usage: 416.5+ KB

Some columns are unnecessary for this project, so I can drop them

In [ ]:
# I don't need the japanese or german name of the Pokemon, the english one is enough
pokemon_df.drop(['german_name', 'japanese_name'], axis=1, inplace=True)
pokemon_df.columns

Index(['index', 'pokedex_number', 'name', 'generation', 'status', 'species',
       'type_number', 'type_1', 'type_2', 'height_m', 'weight_kg',
       'abilities_number', 'ability_1', 'ability_2', 'ability_hidden',
       'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'catch_rate', 'base_friendship', 'base_experience',
       'growth_rate', 'egg_type_number', 'egg_type_1', 'egg_type_2',
       'percentage_male', 'egg_cycles', 'against_normal', 'against_fire',
       'against_water', 'against_electric', 'against_grass', 'against_ice',
       'against_fight', 'against_poison', 'against_ground', 'against_flying',
       'against_psychic', 'against_bug', 'against_rock', 'against_ghost',
       'against_dragon', 'against_dark', 'against_steel', 'against_fairy'],
      dtype='object')

In [ ]:
# I drop the columns about eggs, since they won't be the focus of this project
pokemon_df.drop(['egg_type_number', 'egg_type_1', 'egg_type_2', 'egg_cycles'], axis=1, inplace=True)
pokemon_df.columns

Index(['index', 'pokedex_number', 'name', 'generation', 'status', 'species',
       'type_number', 'type_1', 'type_2', 'height_m', 'weight_kg',
       'abilities_number', 'ability_1', 'ability_2', 'ability_hidden',
       'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'catch_rate', 'base_friendship', 'base_experience',
       'growth_rate', 'percentage_male', 'against_normal', 'against_fire',
       'against_water', 'against_electric', 'against_grass', 'against_ice',
       'against_fight', 'against_poison', 'against_ground', 'against_flying',
       'against_psychic', 'against_bug', 'against_rock', 'against_ghost',
       'against_dragon', 'against_dark', 'against_steel', 'against_fairy'],
      dtype='object')

## Null values

In [ ]:
# I want to know which columns have null values to clean up the dataset
pokemon_df.columns[pokemon_df.isnull().any()]
# This confirms what pokemon_df.info() already told me, but I wanted a more compact visualization of the columns with null values

Index(['type_2', 'weight_kg', 'ability_1', 'ability_2', 'ability_hidden',
       'catch_rate', 'base_friendship', 'base_experience', 'growth_rate',
       'percentage_male'],
      dtype='object')

In [ ]:
# I shouldn't have any null values in ability_1, so I check which rows are null
pokemon_df[pokemon_df['ability_1'].isnull()]

,index,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
33,33,25,Partner Pikachu,1,Normal,Mouse Pokémon,1,Electric,NaN,0.4,...,2.0,0.5,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0
172,172,133,Partner Eevee,1,Normal,Evolution Pokémon,1,Normal,NaN,0.3,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
1033,1033,890,Eternatus Eternamax,8,Legendary,Gigantic Pokémon,2,Poison,Dragon,100.0,...,2.0,1.0,2.0,0.5,1.0,1.0,2.0,1.0,1.0,1.0

In [ ]:
# Partner Pokémon refers to the special Pikachu or Eevee the player starts with in "Pokémon: Let's Go, Pikachu!"" and
#"Let's Go, Eevee!". I drop those 2 rows, since I also have the normal Pikachu and Eevee

# For the pokemon Eternatus Eternamax	the dataset is missing its values for more than one columns. Since Eternatus Eternamax is just
#a powered-up form of Eternatus which the player battle just once at the end of the game, I just drop it and keep only Eternatus.

# -> I drop those 3 rows
pokemon_df = pokemon_df[pokemon_df['ability_1'].notna()]

In [ ]:
pokemon_df[pokemon_df['ability_1'].isnull()]

Empty DataFrame
Columns: [index, pokedex_number, name, generation, status, species, type_number, type_1, type_2, height_m, weight_kg, abilities_number, ability_1, ability_2, ability_hidden, total_points, hp, attack, defense, sp_attack, sp_defense, speed, catch_rate, base_friendship, base_experience, growth_rate, percentage_male, against_normal, against_fire, against_water, against_electric, against_grass, against_ice, against_fight, against_poison, against_ground, against_flying, against_psychic, against_bug, against_rock, against_ghost, against_dragon, against_dark, against_steel, against_fairy]
Index: []

[0 rows x 45 columns]

In [ ]:
pokemon_df.columns[pokemon_df.isnull().any()]

Index(['type_2', 'ability_2', 'ability_hidden', 'catch_rate',
       'base_friendship', 'base_experience', 'growth_rate', 'percentage_male'],
      dtype='object')

In [ ]:
# About the columns type_2 and ability_2: if there is a null value, it means that a Pokemon doesn't have a second
# type/ability, therefore I can only put the word "none" in place of the null values
pokemon_df['type_2'] = pokemon_df['type_2'].fillna("None")
pokemon_df['ability_2'] = pokemon_df['ability_2'].fillna("None")
# I can do the same for ability_hidden
pokemon_df['ability_hidden'] = pokemon_df['ability_hidden'].fillna("None")

In [ ]:
pokemon_df.columns[pokemon_df.isnull().any()]

Index(['catch_rate', 'base_friendship', 'base_experience', 'growth_rate',
       'percentage_male'],
      dtype='object')

In [ ]:
pokemon_df[pokemon_df['catch_rate'].isnull()]

,index,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
69,69,52,Galarian Meowth,1,Normal,Scratch Cat Pokémon,1,Steel,None,0.4,...,2.0,0.5,0.5,0.5,0.50,1.0,0.5,1.0,0.5,0.5
100,100,77,Galarian Ponyta,1,Normal,Unique Horn Pokémon,1,Psychic,None,0.8,...,2.0,1.0,1.0,0.5,2.00,1.0,1.0,1.0,0.5,0.5
102,102,78,Galarian Rapidash,1,Normal,Unique Horn Pokémon,2,Psychic,Fairy,1.7,...,2.0,1.0,1.0,0.5,2.00,1.0,1.0,1.0,0.5,0.5
111,111,83,Galarian Farfetch'd,1,Normal,Wild Duck Pokémon,1,Fighting,None,0.8,...,1.0,2.0,2.0,0.5,0.50,1.0,1.0,0.5,1.0,2.0
144,144,110,Galarian Weezing,1,Normal,Poison Gas Pokémon,2,Poison,Fairy,3.0,...,2.0,1.0,2.0,0.5,1.00,1.0,1.0,1.0,1.0,0.5
158,158,122,Galarian Mr. Mime,1,Normal,Dancing Pokémon,2,Psychic,Ice,1.4,...,1.0,1.0,0.5,1.0,1.00,1.5,0.0,1.0,1.5,1.0
273,273,222,Galarian Corsola,2,Normal,Coral Pokémon,1,Ghost,None,0.6,...,1.0,1.0,1.0,0.5,1.00,2.0,1.0,2.0,1.0,1.0
320,320,263,Galarian Zigzagoon,3,Normal,Tiny Raccoon Pokémon,2,Dark,Normal,0.4,...,1.0,1.0,0.0,2.0,1.00,0.0,1.0,0.5,1.0,2.0
322,322,264,Galarian Linoone,3,Normal,Rushing Pokémon,2,Dark,Normal,0.5,...,1.0,1.0,0.0,2.0,1.00,0.0,1.0,0.5,1.0,2.0
654,654,554,Galarian Darumaka,5,Normal,Zen Charm Pokémon,1,Ice,None,0.7,...,1.0,1.0,1.0,1.0,2.00,1.0,1.0,1.0,2.0,1.0
657,657,555,Galarian Darmanitan Standard Mode,5,Normal,Zen Charm Pokémon,1,Ice,None,1.7,...,1.0,1.0,1.0,1.0,2.00,1.0,1.0,1.0,2.0,1.0
658,658,555,Galarian Darmanitan Zen Mode,5,Normal,Zen Charm Pokémon,2,Ice,Fire,1.7,...,2.0,1.0,1.0,0.5,4.00,1.0,1.0,1.0,1.0,0.5
666,666,562,Galarian Yamask,5,Normal,Spirit Pokémon,2,Ground,Ghost,0.5,...,1.0,1.0,1.0,0.5,0.50,2.0,1.0,2.0,1.0,1.0
723,723,618,Galarian Stunfisk,5,Normal,Trap Pokémon,2,Ground,Steel,0.7,...,2.0,0.5,0.5,0.5,0.25,1.0,0.5,1.0,0.5,0.5
1017,1017,877,Morpeko Hangry Mode,8,Normal,Two-Sided Pokémon,2,Electric,Dark,0.3,...,2.0,0.5,0.0,2.0,1.00,0.5,1.0,0.5,0.5,2.0
1029,1029,888,Zacian Hero of Many Battles,8,Legendary,Warrior Pokémon,1,Fairy,None,2.8,...,1.0,1.0,1.0,0.5,1.00,1.0,0.0,0.5,2.0,1.0
1031,1031,889,Zamazenta Hero of Many Battles,8,Legendary,Warrior Pokémon,1,Fighting,None,2.9,...,1.0,2.0,2.0,0.5,0.50,1.0,1.0,0.5,1.0,2.0

In [ ]:
# I deal with the null values for the 2 legendary pokemon by creating a mask to find all of legendary pokemon in the dataset
legendary_mask = pokemon_df[pokemon_df['status'] == 'Legendary']

In [ ]:
# How I Could have done the same as above, but with groupby instead of mask 
legendary_groupby = pokemon_df.groupby('status')
legendary_groupby.catch_rate.mean()

status
Legendary         23.923077
Mythical           9.500000
Normal           103.432852
Sub Legendary     10.854545
Name: catch_rate, dtype: float64

In [ ]:
# I use the above data to compute the mean of the catch_rate and substitute it for the Nan
legendary_catch_rate_mean = round(legendary_mask.catch_rate.mean(), 1)
# I round it up so it's even with the other floats

In [ ]:
# I create a mask for Legendary Pokemons with null values at catch_rate
legendary_and_null_catch_mask =  (pokemon_df['status'] == 'Legendary') & (pokemon_df['catch_rate'] != pokemon_df['catch_rate'])
# I replace those null values with the mean I computed above
pokemon_df.loc[legendary_and_null_catch_mask, 'catch_rate'] = pokemon_df.loc[legendary_and_null_catch_mask, 'catch_rate'].fillna(legendary_catch_rate_mean)

In [ ]:
# Galarian Form Pokemon are Regional Variants of Pokemon previously discovered in other regions, so I chose to drop those rows
# and only keep the "original" pokemons
# Morpeko Hangry Mode	is just another form of Morpeko, so I do the same as above
pokemon_df = pokemon_df[pokemon_df['catch_rate'].notna()]

In [ ]:
pokemon_df[pokemon_df['catch_rate'].isnull()]

Empty DataFrame
Columns: [index, pokedex_number, name, generation, status, species, type_number, type_1, type_2, height_m, weight_kg, abilities_number, ability_1, ability_2, ability_hidden, total_points, hp, attack, defense, sp_attack, sp_defense, speed, catch_rate, base_friendship, base_experience, growth_rate, percentage_male, against_normal, against_fire, against_water, against_electric, against_grass, against_ice, against_fight, against_poison, against_ground, against_flying, against_psychic, against_bug, against_rock, against_ghost, against_dragon, against_dark, against_steel, against_fairy]
Index: []

[0 rows x 45 columns]

In [ ]:
pokemon_df.columns[pokemon_df.isnull().any()]

Index(['base_friendship', 'base_experience', 'percentage_male'], dtype='object')

In [ ]:
# I did the same thing I did for cathc rate for all the status, but wth a for loop to ptimize the process
null_status_list = ['Normal', 'Mythical', 'Sub Legendary', 'Legendary']
for i in null_status_list:
  status_mask =  pokemon_df[pokemon_df['status'] == i]
  status_base_friendship_mean = round(status_mask.base_friendship.mean(), 1)
  status_and_null_friendship_mask =  (pokemon_df['status'] == i) & (pokemon_df['base_friendship'] != pokemon_df['base_friendship'])
  pokemon_df.loc[status_and_null_friendship_mask, 'base_friendship'] = pokemon_df.loc[status_and_null_friendship_mask, 'base_friendship'].fillna(status_base_friendship_mean)

In [ ]:
pokemon_df[pokemon_df['base_friendship'].isnull()]

Empty DataFrame
Columns: [index, pokedex_number, name, generation, status, species, type_number, type_1, type_2, height_m, weight_kg, abilities_number, ability_1, ability_2, ability_hidden, total_points, hp, attack, defense, sp_attack, sp_defense, speed, catch_rate, base_friendship, base_experience, growth_rate, percentage_male, against_normal, against_fire, against_water, against_electric, against_grass, against_ice, against_fight, against_poison, against_ground, against_flying, against_psychic, against_bug, against_rock, against_ghost, against_dragon, against_dark, against_steel, against_fairy]
Index: []

[0 rows x 45 columns]

In [ ]:
pokemon_df.columns[pokemon_df.isnull().any()]

Index(['base_experience', 'percentage_male'], dtype='object')

In [ ]:
# I repeat the above code for base_experience
for i in null_status_list:
  status_mask =  pokemon_df[pokemon_df['status'] == i]
  status_base_friendship_mean = round(status_mask.base_friendship.mean(), 1)
  status_and_null_friendship_mask =  (pokemon_df['status'] == i) & (pokemon_df['base_experience'] != pokemon_df['base_experience'])
  pokemon_df.loc[status_and_null_friendship_mask, 'base_experience'] = pokemon_df.loc[status_and_null_friendship_mask, 'base_experience'].fillna(status_base_friendship_mean)

In [ ]:
pokemon_df.columns[pokemon_df.isnull().any()]

Index(['percentage_male'], dtype='object')

In [ ]:
# For percentage_male I just fill the null values with "Genderless"
pokemon_df['percentage_male'] = pokemon_df['percentage_male'].fillna("Genderless")

I don't have anymore null values, I can now study the database

## Plots