# Pokemon

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

Dataset from https://www.kaggle.com/datasets/mariotormo/complete-pokemon-dataset-updated-090420

In [2]:
pokemon_df = pd.read_csv('pokemon.csv')

## Basic view of the dataset
This was done with more details and comments on the Google Colab file, this is basically a summary

In [3]:
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   german_name       1045 non-null   object
 4   japanese_name     1045 non-null   object
 5   generation        1045 non-null   int64
 6   status            1045 non-null   object
 7   species           1045 non-null   object
 8   type_number       1045 non-null   int64
 9   type_1            1045 non-null   object
 10  type_2            553 non-null    object
 11  height_m          1045 non-null   float64
 12  weight_kg         1044 non-null   float64
 13  abilities_number  1045 non-null   int64
 14  ability_1         1042 non-null   object
 15  ability_2         516 non-null    object
 16  ability_hidden    813 non-null    object
 17  total_points      1045 non-null   int64
 18  hp                1045 non-null   int64
 19  attack            1045 non-null   int64
 20  defense           1045 non-null   int64
 21  sp_attack         1045 non-null   int64
 22  sp_defense        1045 non-null   int64
 23  speed             1045 non-null   int64
 24  catch_rate        1027 non-null   float64
 25  base_friendship   930 non-null    float64
 26  base_experience   925 non-null    float64
 27  growth_rate       1044 non-null   object
 28  egg_type_number   1045 non-null   int64
 29  egg_type_1        1042 non-null   object
 30  egg_type_2        285 non-null    object
 31  percentage_male   872 non-null    float64
 32  egg_cycles        1044 non-null   float64
 33  against_normal    1045 non-null   float64
 34  against_fire      1045 non-null   float64
 35  against_water     1045 non-null   float64
 36  against_electric  1045 non-null   float64
 37  against_grass     1045 non-null   float64
 38  against_ice       1045 non-null   float64
 39  against_fight     1045 non-null   float64
 40  against_poison    1045 non-null   float64
 41  against_ground    1045 non-null   float64
 42  against_flying    1045 non-null   float64
 43  against_psychic   1045 non-null   float64
 44  against_bug       1045 non-null   float64
 45  against_rock      1045 non-null   float64
 46  against_ghost     1045 non-null   float64
 47  against_dragon    1045 non-null   float64
 48  against_dark      1045 non-null   float64
 49  against_steel     1045 non-null   float64
 50  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(13), object(13)
memory usage: 416.5+ KB

In [4]:
pokemon_df.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [5]:
pokemon_df.tail()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1040,1040,896,Glastrier,Polaross,ブリザポス (Burizaposu),8,Sub Legendary,Wild Horse Pokémon,1,Ice,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1041,1041,897,Spectrier,Phantoross,レイスポス (Reisuposu),8,Sub Legendary,Swift Horse Pokémon,1,Ghost,...,1.0,1.0,1.0,0.5,1.0,2.0,1.0,2.0,1.0,1.0
1042,1042,898,Calyrex,Coronospa,バドレックス (Budrex),8,Legendary,King Pokémon,2,Psychic,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
1043,1043,898,Calyrex Ice Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,...,1.0,1.0,0.5,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1044,1044,898,Calyrex Shadow Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,...,1.0,1.0,0.5,1.0,1.0,4.0,1.0,4.0,1.0,1.0

In [6]:
pokemon_df.describe()

,Unnamed: 0,pokedex_number,generation,type_number,height_m,weight_kg,abilities_number,total_points,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1044.000000,1045.000000,1045.000000,1045.000000,1045.000000,...,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,522.000000,440.769378,4.098565,1.529187,1.374067,71.216571,2.268900,439.353110,70.067943,80.476555,...,1.082297,1.168900,0.977273,0.998086,1.238278,1.018660,0.977033,1.071053,0.981579,1.091148
std,301.809819,262.517231,2.272788,0.499386,3.353349,132.259911,0.803154,121.992897,26.671411,32.432728,...,0.782683,0.592145,0.501934,0.610411,0.696560,0.568056,0.375812,0.465178,0.501753,0.536285
min,0.000000,1.000000,1.000000,1.000000,0.100000,0.100000,0.000000,175.000000,1.000000,5.000000,...,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000
25%,261.000000,212.000000,2.000000,1.000000,0.600000,9.000000,2.000000,330.000000,50.000000,55.000000,...,0.500000,1.000000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000
50%,522.000000,436.000000,4.000000,2.000000,1.000000,29.500000,2.000000,458.000000,68.000000,77.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,783.000000,670.000000,6.000000,2.000000,1.600000,70.500000,3.000000,515.000000,82.000000,100.000000,...,1.500000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1044.000000,898.000000,8.000000,2.000000,100.000000,999.900000,3.000000,1125.000000,255.000000,190.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000

### Clean up the dataset

In [7]:
pokemon_df.rename(columns={'Unnamed: 0':'index'}, inplace=True)

Some columns are unnecessary for this project, so I drop them

In [8]:
pokemon_df.drop(['german_name', 'japanese_name'], axis=1, inplace=True)
pokemon_df.drop(['egg_type_number', 'egg_type_1', 'egg_type_2', 'egg_cycles'], axis=1, inplace=True)

### Dealing with null values

In [9]:
pokemon_df = pokemon_df[pokemon_df['ability_1'].notna()]
pokemon_df[['type_2', 'ability_2', 'ability_hidden']] = pokemon_df[['type_2', 'ability_2', 'ability_hidden']].fillna("None")

In [10]:
legendary_catch_rate_mean = round(pokemon_df[pokemon_df['status'] == 'Legendary'].catch_rate.mean(), 1)
legendary_and_null_catch_mask =  (pokemon_df['status'] == 'Legendary') & (pokemon_df['catch_rate'] != pokemon_df['catch_rate'])
pokemon_df.loc[legendary_and_null_catch_mask, 'catch_rate'] = pokemon_df.loc[legendary_and_null_catch_mask, 'catch_rate'].fillna(legendary_catch_rate_mean)
pokemon_df = pokemon_df[pokemon_df['catch_rate'].notna()]

In [11]:
null_status_list = ['Normal', 'Mythical', 'Sub Legendary', 'Legendary']
null_column_name = ['base_friendship', 'base_experience']
for j in null_column_name:
  for i in null_status_list:
    status_mask =  pokemon_df[pokemon_df['status'] == i]
    status_base_mean = round(status_mask[j].mean(), 1)
    status_and_null_mask =  (pokemon_df['status'] == i) & (pokemon_df[j] != pokemon_df[j])
    pokemon_df.loc[status_and_null_mask, j] = pokemon_df.loc[status_and_null_mask, j].fillna(status_base_mean)

In [13]:
pokemon_df['percentage_male'] = pokemon_df['percentage_male'].fillna("Genderless")

In [14]:
pokemon_df.columns[pokemon_df.isnull().any()]

Index([], dtype='object')

## Plots